{% extends "base_site.html" %}

{% block main %}
<p>
以下のファイルを管理対象に追加します:
</p>
<ul>
  {% for filename in form.data.files %}
    <li>{{ filename }}</li>
  {% endfor %}
</ul>
<form method="post" action="{{ url_for('add_unknown_confirm') }}">
  <div style="display:none;">
    {{ form.csrf }}
    {{ form.files }}
    {{ form.confirm }}
  </div>
  <div class="operation">
    <input type="submit" value="OK" />
    <button type="button" class="button-cancel">キャンセル</button>
  </div>
</form>
{% endblock %}

{% block js %}
(function() {
  var cancel_redirect_url = "{{ url_for('index') }}";
  $("button.button-cancel").click(function() {
    document.location = cancel_redirect_url;
  })
})();
{% endblock %}
