<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/vnd.microsoft.icon" />
</head>
<body>
<div id="wrap">
  <div id="header">
    {% block header %}{% endblock %}
  </div>
  <div id="main">
    {% block main %}{% endblock %}
  </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
<script type="text/javascript">
<!--
  {% block js %}{% endblock %}
// -->
</script>
</div>
</body>
</html>
